<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.NevoSharabi.quitnow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".tools.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.QuitNow">
        <activity
            android:name=".tips.TipsAndSymptoms"
            android:exported="false"
            android:label="@string/title_activity_tips_and_symptoms"
            android:theme="@style/Theme.QuitNow.NoActionBar" />
        <activity
            android:name=".ActivitySplash"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.QuitNow.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.QuitNow.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.CreateProfileActivity"
            android:label="ProfileActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.QuitNow.NoActionBar" />
    </application>

</manifest>